@mixin unstyled {
  border-style: solid;
  border-color: blue;
  color: red;
  margin: 5px;
}

a {
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.title-link {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
