$game-width: 250px;
$game-height: 300px;
$game-width-expanded: 350px;
$game-height-expanded: 430px;
$picture-height: 210px;

// active game fader
.active-game {
  position: absolute;
  width: $game-width;
  height: $game-height;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: rgba(0,205,255,.3);
}


.game-card {
  background-repeat: no-repeat;
  width: $game-width;
  height: $game-height;
  color: white;
  margin: 8px;
  position: relative;
}
.game-card-expanded {
  @extend .game-card;
  height: $game-height-expanded;
  width: $game-width-expanded;
  &:hover {
    cursor: pointer;
  }
}
.none-card {
  @extend .game-card;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}

.game-image {
  background-size: cover;
  background-position: 50% 20%;
  width: $game-width;
  height: $picture-height;
}
.game-image-expanded {
  @extend .game-image;
  width: $game-width-expanded;
}

.game-text-row {
  display: flex;
  align-items: center;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.game-text-icon {
  padding: 5px;
}