.login-body {
  padding: 16px;
}

.login-failed-message {
  padding: 8px 12px 8px 12px;
  max-width: 300px;  
}
.login-failed-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.login-button {
  margin: 8px;
}