@mixin unstyled {
  border-style: solid;
  border-color: blue;
  color: red;
  margin: 5px;
}

.main-body {
  @include unstyled;
  padding: 8px;
  padding-bottom: 16px;
}

.section-header {
  @include unstyled;
}

.sub-section-header {
  @include unstyled;
}