.profile-info-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-right: 10px;
  margin-left: 16px;
  min-width: 140px;
}

.profile-info {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

tr {
  display: flex;
  align-items: center;
}

td {
  display: flex;
  align-items: center;
  height: 55px;
}

#city-field {
  margin-left: 5px;
}