$trade-width: 250px;
$trade-height-expanded: 300px;  

.trade-paper {
  min-width: $trade-width;
  padding: 12px;
  margin: 12px;
}

.trade-paper-expanded {
  min-height: $trade-height-expanded;
}

// contains the two cards
.trade-paper-row {
  min-width: $trade-width;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 16px;
  margin-top: 8px;
}

.trade-info-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 8px;
  border-left: 4px;  
}

.trade-info-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.trade-notes {
  border-style: solid;
  border-width: 1px;
  border-color: #999;
  min-width: 100px;
  min-height: 50px;
  overflow: auto;
  margin: 8px 32px 16px 32px;
  padding: 8px;
}

.trade-button {
  margin: 12px;
}